.team {
    margin-left: 72%;
}

.text {
    margin: 0 auto;
}

.about {
    /* margin-left: 102%; */
    float: right;
}

.photo-container {
    margin-left: 14%;
}

.profile-photo {
    height: 30%;
    width: 30%;
    margin: 5%;
    padding: 2%;
}

/* .photo-text {
    text-align: center;
} */

/* .left-container {
    margin: 0;
    display: block;
    position: fixed;
}

.right-container {
    display: block;
    float: right;
} */


.profile-container {
    display: inline-block;
    width: 50%;
    text-align: center;
}