.team {
    text-align: center;
    padding: 3%;
    font-size: 5rem;
    font-family: "Bangers", sans-serif;
    letter-spacing: 5px;
}

.text {
    margin: 0 auto;
}

.about {
    float: right;
    width: 50%;
    box-shadow: 50px 50px black;
}

.photo-container {
    margin-left: 14%;
    margin-top: 9%;
}

.sasha-photo {
    box-shadow: 50px 50px #02BBDF;
    width: 60%;
    margin: 5%;
}

.sasha-header {
    color: #F02F25;
    font-family: "Bangers", sans-serif;
    letter-spacing: 5px;
}

.hanran-photo {
    box-shadow: 50px 50px #FFE3C4;
    width: 60%;
    margin: 5%;
}

.hanran-header {
    color: #FF9705;
    font-family: "Bangers", sans-serif; 
    letter-spacing: 5px;
}

.ryan-photo {
    box-shadow: 50px 50px #FF9705;
    width: 60%;
    margin: 5%;
}

.ryan-header {
    color: #02BBDF;
    font-family: "Bangers", sans-serif;
    letter-spacing: 5px; 
}

.will-photo {
    box-shadow: 50px 50px #F02F25;
    width: 60%;
    margin: 5%;
}

.will-header {
    color: #FFE3C4;
    font-family: "Bangers", sans-serif; 
    letter-spacing: 5px;
}

.picture-row-one {
    margin-top: 30%;
}

.picture-row-two {
    margin-top: 1%;
    margin-bottom: 5%;
}

/* .photo-text {
    text-align: center;
} */

/* .left-container {
    margin: 0;
    display: block;
    position: fixed;
}

.right-container {
    display: block;
    float: right;
} */


.profile-container {
    display: inline-block;
    width: 50%;
    text-align: center;
}

h2 {
    margin-top: -4%;
}

h3 {
    margin-top: 4%;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media screen and (max-width: 1050px) {
    /* .will-header {
        font-weight: bold;
    } */
    .developer-name {
        position: relative;
        left: 15%;
    }
}
