
/* .navbar {
    color: #FFFFFF;
    background-color: #CC3333;
} */

/* .sidebar {
    padding-left: 10px;
} */

.new-bg{
    background-color: #202020 !important;
}

.sidebar {
    position: fixed !important;
    top: 83px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    padding-top: 38px;
}

ul.nav > li > a:active {
    color: #02BBDF !important;
}

@media only screen and (max-width: 600px) {
   

}
