.new-bg{
    background-color: #202020 !important;
}
/* Side bar and lists begin*/
.sidebar {
    position: fixed !important;
    top: 83px;
    bottom: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 38px;
}


.sidebar > *{
    color: black
}

.sidebar > *:hover {
    color: #02BBDF;
}

/* Side bar and lists end

@media only screen and (max-width: 600px) {
   

} */
