

.mobile-bg{
    background-image: linear-gradient(-140deg, #b7e8fc 15%, #02BBDF 70%);
    height: 100vh;
}

.full-width-image{
    width:100%;
    background-image: linear-gradient(-140deg, #b7e8fc 15%, #02BBDF 70%);
    height: 100vh;
 }
 