
@media only screen and (max-width: 768px){
    .sidebar{
        transform: translateX(-100%);
        transition: .5s;
        width:35%;
        top: 0px;
        z-index:1030;
        background-color:#fff;
    }
    .backdrop{
        position:absolute;
        width:100vw;
        height:100vh;
        z-index:1029;
        top:0px;
        background-color:rgba(0, 0, 0, 0.5);
    }
}