body{
    background: #F5F5F5;
}

.navbar {
    border: none;
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.row {
    padding:14px 20px;    
}

.input-group{
    margin: 10px;
}

.glyphicon-user{
    font-size: 1.6em;    
    float: right;
    right: 40px;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
}

.d-inline-block {
    width:50%;
    float:left;
}

.d-inline-block > span {
    background: #0abab5;
    color: #000;
    padding: 4px;
}

.bg-1 {
    background:	#0abab5;
}
/* .bg-1 {
    background:#fca19a; 
    background:#eb4c49; 
} */
.bg-2 {
    background:#fff;
}
h3 {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.3;
}
.img-thumbnail {
    
}
.post-box {
    box-sizing: content-box;
    margin-top: 2%;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 7px 6px -6px #777;
}
footer {
    padding: 20px;
    margin-top: 40px;
}
footer a {
    color: #fff;
}